@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;

  margin: 0%;
  padding: 0%;
}

header {
  background-color: #fffbf0;
}
.container-nav {
  display: flex;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  width: 50%;
}
.logo img {
  width: 291.11px;
  height: 39.27px;
  display: block;
  margin-left: 10%;
  margin-right: auto;
}
.navmenu {
  width: 50%;
}
.container-nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.container-nav ul > li > a {
  text-decoration: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #3c3c3c;
}

.container-ban {
  display: flex;
  justify-content: space-around;
}
.lt {
  width: 50%;
}
.text {
  margin-left: 10%;
}
.text > h1 {
  margin: 10% auto;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
}

.text > p {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  color: #3e3e3e;
}

.yellow {
  color: #fabe4c;
}
.lt .btn {
  margin-top: 50px;
  margin-left: 10%;
}

.btn a {
  padding: 12px 20px;
  background-image: linear-gradient(to right bottom, #d9fd46, 25%, #86a11a);
  text-decoration: none;
  color: #3c3c3c;
  border-radius: 15px;
  font-weight: 600;
}
.rt {
  padding-right: 5%;
}

/* media query-------------
--------------------- */

@media (min-width: 481px) and (max-width: 767px) {
  .container-nav {
    display: none;
  }

  .container-ban {
    flex-direction: column;
  }

  .rt,
  .lt {
    margin-bottom: 40px;
    width: 100%;
  }
}

/* card */

.card-container {
  grid-template-columns: repeat(3, 1fr);
}

.card {
  width: 320px;
  padding: 20px;

  background-color: white;
  border-radius: 5px;

  box-shadow: 0.2rem 0.2rem 2rem rgba(158, 155, 153, 0.397);
  overflow: hidden;
}
.card img {
  width: 293px;
  height: 293px;
}
.price {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.price h3 {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #fabe4c;
}
