@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;

  margin: 0%;
  padding: 0%;
}

header {
  background-color: #fffbf0;
}
.container-nav {
  display: flex;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  width: 50%;
}
.logo img {
  width: 291.11px;
  height: 39.27px;
  display: block;
  margin-left: 10%;
  margin-right: auto;
}
.navmenu {
  width: 50%;
}
.container-nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.container-nav ul > li > a {
  text-decoration: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #86a11a;
}

.container-ban {
  display: flex;
  justify-content: space-around;
}
.lt {
  width: 50%;
}
.text {
  margin-left: 10%;
}
.text > h1 {
  margin: 10% auto;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
}

.text > p {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  color: #3e3e3e;
}

.yellow {
  color: #fabe4c;
}
.lt .btn {
  margin-top: 50px;
  margin-left: 10%;
}

.btn a {
  padding: 12px 20px;
  background-image: linear-gradient(to right bottom, #d9fd46, 25%, #86a11a);
  text-decoration: none;
  color: #3c3c3c;
  border-radius: 15px;
  font-weight: 600;
}
.rt {
  padding: 0 5% 6% 0;
}

/* card */

.card-container {
  display: flex;
  justify-content: space-around;
}
.heading {
  font-size: 30px;
  margin: 5% auto 0 5%;
}

.card {
  width: 320px;
  padding: 20px;
  margin: 5% auto;
  background-color: white;
  border-radius: 5px;

  box-shadow: 0.2rem 0.2rem 2rem rgba(158, 155, 153, 0.397);
  overflow: hidden;
}
.card img {
  width: 293px;
  height: 293px;
}
.price {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.price h3 {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #fabe4c;
}

.container-box {
  margin: 5% auto;
  display: flex;
}
.container-box .lt,
.container-box .rt {
  width: 50%;
}
.box {
  margin-left: 10%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.box img {
  width: 78px;
  height: 82px;
  margin-right: 30px;
}
.img-bt {
  margin-left: 5%;
}
/* media query-------------
--------------------- */

@media (min-width: 375px) and (max-width: 768px) {
  .container-nav {
    display: none;
  }

  .container-ban {
    flex-direction: column;
  }

  .rt,
  .lt {
    margin-bottom: 40px;
    width: 100%;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }

  .container-box {
    flex-direction: column;
  }

  .container-box .lt {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .container-box .rt {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    overflow: hidden;
  }
  .box {
    margin: 3% auto;
  }
}
